<!DOCTYPE html> 
<html class="no-js">  
<head>
	 <link rel="stylesheet" type="text/css" href="../../grid-style.css">
</head>
<body ng-app="appModule">

	<span class="highlight"><!-- Our Website Content Goes Here --></span>
	<div ng-controller="appCtrl"> 
		<i>Sort By: <span ng-bind="sortCriteria"></span></i>
		<i>Sort Reverse: <span ng-bind="sortReverse"></span></i>
		<div>Search.......<input ng-model="filterBy"></input></div>
		<ul>

			<li style="list-style-type:square;">

				<a href="#" 
				ng-click="sortCriteria='Driver.givenName'; sortReverse=!sortReverse" 
				class="sortOrder" 
				ng-class="{'reverse': sortReverse}">Given Name</a>
				<a href="#" ng-click="sortCriteria='number'; sortReverse=!sortReverse"
				class="sortOrder" 
				ng-class="{'reverse': sortReverse}">Number</a>
				<a href="#" ng-click="sortCriteria='position'; sortReverse=!sortReverse"
				class="sortOrder" 
				ng-class="{'reverse': sortReverse}">Position</a>
				<a href="#" ng-click="sortCriteria='Driver.nationality'; sortReverse=!sortReverse"
				class="sortOrder" 
				ng-class="{'reverse': sortReverse}">Nationality</a>
				<a href="#" ng-click="sortCriteria='Constructor.name'; sortReverse=!sortReverse"
				class="sortOrder" 
				ng-class="{'reverse': sortReverse}">Car</a>
				<a href="#" ng-click="sortCriteria='FastestLap.AverageSpeed.speed'; sortReverse=!sortReverse"
				class="sortOrder" 
				ng-class="{'reverse': sortReverse}">Avg Speed</a>
			</li>
			<li style="height:200px;background-color:black;color:cyan;font:20px;text-align:center" ng-hide="raceResults.length">Loading..........</li>
			<li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy">

				<label ng-bind="user.Driver.givenName"></label>			 
				<label ng-bind="user.number"></label>
				<label ng-bind="user.position"></label>
				<label ng-bind="user.Driver.nationality"></label>
				<label ng-bind="user.Constructor.name"></label>
				<label ng-bind="user.FastestLap.AverageSpeed.speed"></label>
			</li>
		</ul>
	</div> 
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
	<script src="./commonCode/common.js"></script>
	<script src="./controllersDir/main-ctrl.js"></script>
	<script src="./modelDir/main-model.js"></script> 
</body>
</html>