<html class="no-js">
<head>
	<link rel="stylesheet" type="text/css" href="../../grid-style.css">
</head>
<body ng-app="appModule" class="ng-scope">

	<span class="highlight"><!-- Our Website Content Goes Here --></span>
	<div ng-controller="appCtrl" class="ng-scope">  
		<div>Search.......<input class="search-input"></div>
		<ul>

			<li style="list-style-type:square;">

				<a href="#" ng-click="sortCriteria='Driver.givenName'; sortReverse=!sortReverse" class="sortOrder" ng-class="{'reverse': sortReverse}">Given Name</a>
				<a href="#" ng-click="sortCriteria='number'; sortReverse=!sortReverse" class="sortOrder" ng-class="{'reverse': sortReverse}">Number</a>
				<a href="#" ng-click="sortCriteria='position'; sortReverse=!sortReverse" class="sortOrder" ng-class="{'reverse': sortReverse}">Position</a>
				<a href="#" ng-click="sortCriteria='Driver.nationality'; sortReverse=!sortReverse" class="sortOrder" ng-class="{'reverse': sortReverse}">Nationality</a>
				<a href="#" ng-click="sortCriteria='Constructor.name'; sortReverse=!sortReverse" class="sortOrder" ng-class="{'reverse': sortReverse}">Car</a>
				<a href="#" ng-click="sortCriteria='FastestLap.AverageSpeed.speed'; sortReverse=!sortReverse" class="sortOrder" ng-class="{'reverse': sortReverse}">Avg Speed</a>
			</li> 
			<!-- ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

			<label ng-bind="user.Driver.givenName" class="ng-binding">Michael</label>			 
			<label ng-bind="user.number" class="ng-binding">1</label>
			<label ng-bind="user.position" class="ng-binding">1</label>
			<label ng-bind="user.Driver.nationality" class="ng-binding">German</label>
			<label ng-bind="user.Constructor.name" class="ng-binding">Ferrari</label>
			<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">226.933</label>
		</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

		<label ng-bind="user.Driver.givenName" class="ng-binding">Rubens</label>			 
		<label ng-bind="user.number" class="ng-binding">2</label>
		<label ng-bind="user.position" class="ng-binding">2</label>
		<label ng-bind="user.Driver.nationality" class="ng-binding">Brazilian</label>
		<label ng-bind="user.Constructor.name" class="ng-binding">Ferrari</label>
		<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">226.788</label>
	</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

	<label ng-bind="user.Driver.givenName" class="ng-binding">Juan</label>			 
	<label ng-bind="user.number" class="ng-binding">3</label>
	<label ng-bind="user.position" class="ng-binding">5</label>
	<label ng-bind="user.Driver.nationality" class="ng-binding">Colombian</label>
	<label ng-bind="user.Constructor.name" class="ng-binding">Williams</label>
	<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">223.844</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Ralf</label>			 
<label ng-bind="user.number" class="ng-binding">4</label>
<label ng-bind="user.position" class="ng-binding">4</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">German</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Williams</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">222.441</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">David</label>			 
<label ng-bind="user.number" class="ng-binding">5</label>
<label ng-bind="user.position" class="ng-binding">8</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">British</label>
<label ng-bind="user.Constructor.name" class="ng-binding">McLaren</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">221.142</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Kimi</label>			 
<label ng-bind="user.number" class="ng-binding">6</label>
<label ng-bind="user.position" class="ng-binding">20</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Finnish</label>
<label ng-bind="user.Constructor.name" class="ng-binding">McLaren</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">217.098</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Jarno</label>			 
<label ng-bind="user.number" class="ng-binding">7</label>
<label ng-bind="user.position" class="ng-binding">7</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Italian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Renault</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">221.278</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Fernando</label>			 
<label ng-bind="user.number" class="ng-binding">8</label>
<label ng-bind="user.position" class="ng-binding">3</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Spanish</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Renault</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">224.365</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Jenson</label>			 
<label ng-bind="user.number" class="ng-binding">9</label>
<label ng-bind="user.position" class="ng-binding">6</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">British</label>
<label ng-bind="user.Constructor.name" class="ng-binding">BAR</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">222.032</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Takuma</label>			 
<label ng-bind="user.number" class="ng-binding">10</label>
<label ng-bind="user.position" class="ng-binding">9</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Japanese</label>
<label ng-bind="user.Constructor.name" class="ng-binding">BAR</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">221.787</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Giancarlo</label>			 
<label ng-bind="user.number" class="ng-binding">11</label>
<label ng-bind="user.position" class="ng-binding">10</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Italian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Sauber</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">221.260</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Felipe</label>			 
<label ng-bind="user.number" class="ng-binding">12</label>
<label ng-bind="user.position" class="ng-binding">15</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Brazilian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Sauber</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">219.823</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Mark</label>			 
<label ng-bind="user.number" class="ng-binding">14</label>
<label ng-bind="user.position" class="ng-binding">18</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Australian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Jaguar</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">222.110</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Christian</label>			 
<label ng-bind="user.number" class="ng-binding">15</label>
<label ng-bind="user.position" class="ng-binding">11</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Austrian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Jaguar</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">217.336</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Cristiano</label>			 
<label ng-bind="user.number" class="ng-binding">16</label>
<label ng-bind="user.position" class="ng-binding">12</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Brazilian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Toyota</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">217.385</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Olivier</label>			 
<label ng-bind="user.number" class="ng-binding">17</label>
<label ng-bind="user.position" class="ng-binding">13</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">French</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Toyota</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">217.417</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Nick</label>			 
<label ng-bind="user.number" class="ng-binding">18</label>
<label ng-bind="user.position" class="ng-binding">16</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">German</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Jordan</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">218.173</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Giorgio</label>			 
<label ng-bind="user.number" class="ng-binding">19</label>
<label ng-bind="user.position" class="ng-binding">14</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Italian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Jordan</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">215.659</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Gianmaria</label>			 
<label ng-bind="user.number" class="ng-binding">20</label>
<label ng-bind="user.position" class="ng-binding">17</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Italian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Minardi</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">211.741</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy --><li style="list-style-type:circle;" ng-repeat="user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy" class="ng-scope">

<label ng-bind="user.Driver.givenName" class="ng-binding">Zsolt</label>			 
<label ng-bind="user.number" class="ng-binding">21</label>
<label ng-bind="user.position" class="ng-binding">19</label>
<label ng-bind="user.Driver.nationality" class="ng-binding">Hungarian</label>
<label ng-bind="user.Constructor.name" class="ng-binding">Minardi</label>
<label ng-bind="user.FastestLap.AverageSpeed.speed" class="ng-binding">210.666</label>
</li><!-- end ngRepeat: user in raceResults | orderBy:sortCriteria:sortReverse | filter:filterBy -->
</ul>
</div> 

<script src="../../Shared/Libs/Jquery-dev/jquery-1.10.2.js"></script>
<script src="./search.js"></script> 

</body></html>